@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/*=*/

* {
    box-sizing: border-box;
    outline: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

body {
    width: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.top-bar {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 61px;
    background-color: #333;
}

.top-bar svg {
    cursor: pointer;
    fill: #FFF;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.top-bar svg#logo {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.top-bar svg#pause, .top-bar svg#pause.busy:hover, .top-bar svg#play:hover {
    fill: #EA5888;
}

.top-bar svg#play, .top-bar svg#play.busy:hover, .top-bar svg#pause:hover, .top-bar svg:hover {
    fill: #74FBFD;
}

#play, #pause {
    display: none;
}

main>article:not(.table) {
    position: relative;
    z-index: 1;
    display: none;
    padding: 20px;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: 8px;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: .1em;
    color: #AAA;
    margin-bottom: 8px;
    line-height: 1.4em;
}

button.link {
    background-color: #00ffff;
    color: #000;
    transition: background-color .2s ease-in, color .2s ease-in;
    min-width: 260px;
    min-height: 70px;
    margin: 30px 0;
    border-radius: 10px;
    border: none;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.85em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.9em;
    cursor: pointer;
    float: right;
}

button:not(.icon):hover {
    background-color: #000;
    color: #00ffff;
}

p {
    font-size: .8em;
    line-height: 1.5em;
    padding-top: 10px;
}

span.info {
    display: inline-block;
    border-bottom: 1px dotted #AAA;
    cursor: help;
}

p.info {
    display: none;
    color: #AAA;
}

.loading {
    padding: 0;
}

.loading h1 {
    display: none;
}

.loading img {
    width: 100%;
    margin-top: -55px;
}

.loading p {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    text-align: center;
}

.error svg {
    float: right;
    cursor: pointer;
    fill: #000;
    width: 69px;
    padding: 10px;
    margin-bottom: 20px;
}

.error svg:hover {
    fill: #74FBFD;
}

/*=*/

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #efefef;
    margin-bottom: 16px;
    font-size: .85em;
}

.table .registrations-closed {
    padding: 16px;
    background-color: #fe4b89;
    color: #fff;
    text-align: center;
}

.table .table-name {
    font-weight: 700;
    padding: 16px;
    text-align: center;
    font-weight: 700;
    background-color: #00ffff;
}

.table .lecturers-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #ccc;
    padding: 16px;
    font-size: .6em;
}

.table .lecturers-container img {
    border-radius: 80px;
    border: 4px solid #fff;
    margin: 0 8px;
    width: 128px;
    height: 128px;
}

.table .details {
    display: flex;
    align-items: center;
    padding: 16px;
}

.table .details :first-child {
    flex: 1;
}

.table .registrations-container {
    display: flex;
    flex-direction: column;
    background: #ccc;
}

.table .registrations-container .registration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.table .registrations-container .registration:nth-child(even) {
    background-color: #fafafa;
}

.table .pink {
    font-weight: 700;
    color: #EA5888;
}

button.icon.trash {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    cursor: pointer;
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-decoration: none;
    margin-bottom: 8px;
    margin-right: 8px;
    background-image: url(https://sos.devine-tools.be/images/icons/trash.svg);
}

button.icon.trash:hover {
    background-image: url(https://sos.devine-tools.be/images/icons/trash-over.svg);
}

.icon>span {
    display: none;
}